<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Edit', edit_article_post_path(@article, @post) %> |
<%= link_to 'Back', article_posts_path(@article) %>
